<ul [ngSwitch]="userLogged" class="navbar-nav">
    <li *ngSwitchCase="false" class="nav-item" style="padding-right: 30px;">
        <a class="btn btn-primary" (click)="login()"><i class="fas fa-sign-in"></i></a>
    </li>
    <li *ngSwitchCase="false" class="nav-item">
        <a class="btn btn-success"><i class="fas fa-user-plus"></i></a>
    </li>

    <li *ngSwitchCase="true" class="nav-item">
        <a class="nav-link text-dark" id="loginInfoEmail">{{ email }}</a>
    </li>
    <li *ngSwitchCase="true" class="nav-item">
        <a class="btn btn-success" (click)="logout()">
            <i class="fas fa-sign-out-alt"></i>
        </a>
    </li>
</ul>